footer {
    margin: 0 auto 60px;
    max-width: 85%;
    height: 680px;
    background: $grey2;
    display: grid;
    grid-template-columns: 50% 50%;

    form {
        display: grid;
        gap: 18px;
        padding: 60px 80px;
        grid-template-rows: 18px 45px 18px 45px 18px 200px 1fr;
        
        label {
            @include title;
            font-size: 0.9rem;
            text-align: left;
            color: $black2;
        }
        input {
            background: $grey2;
            border: 1px solid $grey3;
        }
        textarea {
            resize: none;
            background: $grey2;
            border: 1px solid $grey3;
            margin-bottom: 18px;
        }
        button {
        }
    }
}
.contact {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    border-left: 1px solid $grey3;

    div {
        border-bottom: 1px solid $grey3;
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;
    }
    h3 {
        @include title
        color: $black2;
        font-size: 0.9rem;
        text-align: left;
        padding-left: 40px;
    }
    p {
        font-family: $font2;
        font-size: 0.8rem;
        color: gray;
        text-align: left;
    }
    ul {
        display: flex;
    }
    li {
        border-radius: 20px;
        border: 1px solid $grey3;
        height: 40px;
        width: 40px;
        margin-right: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        &:hover {
            color: rgb(24, 199, 199);
            border: 1px solid rgb(24, 199, 199);
            cursor: pointer;
        }
    }
}
