footer {
    margin: 0 auto 70px;
    width: 85%;
    min-height: 640px;
    background: $grey2;
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
    }

    form {
        display: grid;
        gap: 18px;
        padding: 60px 50px;
        grid-template-rows: 18px 45px 18px 45px 18px 200px 1fr;
        
        label {
            @include title;
            display: flex;
            align-items: end;
            font-size: 0.7rem;
            color: $grey3;
        }
        input[type="text"], textarea {
            background: none;
            border: 1px solid $grey1;
            border-radius: 4px;
            resize: none;
        }
        .submit-container {
            display: flex;
            align-items: flex-end;
            .btn {
                color: $grey3;
                border: 2px solid $grey3;
            }
        }
    }
    .infos-contact {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        border-left: 1px solid $grey1;

        div:nth-child(1) {
            @media screen and (max-width: 900px) {
                border-top: 1px solid $grey1;
                padding-bottom: 20px;
            }
        }
        div {
            border-bottom: 1px solid $grey1;
            display: grid;
            grid-template-columns: 30% 70%;
            align-items: center;

            @media screen and (max-width: 900px) {
                grid-template-columns: 45% 55%;
            }

            h3 {
                @include title;
                color: $grey3;
                font-size: 0.7rem;
                text-align: left;
                padding-left: 40px;
            }
            p {
                font-size: 0.8rem;
                color: grey;
                text-align: left;
                line-height: 26px;
            }
        }
        .social {
            ul {
                display: flex;
            }
            li {
                border-radius: 150px;
                border: 1px solid $grey1;
                height: 40px;
                width: 40px;
                margin-right: 30px;
                font-size: 0.9rem;
                @include center;
                cursor: pointer;
                &:hover {
                    color: rgb(24, 199, 199);
                    border: 1px solid rgb(24, 199, 199);
                }
            }
        }
    }
}