header {
    position: relative;
    min-height: 100vh;
    color: $white2;

    .header-content {
        @include center;
        flex-direction: column;
        min-height: 100vh;
    }


    h1{
        font-size: 4.8rem;
        max-width: 60%;
        margin-bottom: 50px;
    }
    p{
        font-family: $font2;
        font-size: 1rem;
        font-style: oblique;
    }
    nav{
        display: flex;
        justify-content: space-between;
        z-index: 100;
        position: absolute;
        min-width: 85%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $grey1;
        bottom: 0;

        ul {
            display: flex;
            align-items: center;
            height: 65px;
        }
        .left {
            li {
                @include title;
                padding: 0 25px;

                &:hover {
                    background: $white1;
                    color: $black1;
                    cursor: pointer;
                    padding: 20px;
                }
            }
        }
        .right {
            justify-content: space-around;
            min-width: 100px;
            max-width: 300px;
            width: 25%;
            li {
                font-size: 1.1rem;
                &:hover {
                    color: aqua;
                    cursor: pointer;
                }
            }
        }
    }
}
